<footer>
  <div class="foot-inner">
    <div class="foot-top">
      <span class="foot-name">Haoyi Zhu</span>
      <a class="foot-up" href="#top">Back to top ↑</a>
    </div>
    <div class="foot-line">
      <span>© {{ now.Format "2006" }} Haoyi Zhu</span>
      <span class="foot-links">
        <a href="mailto:hyizhu1108@gmail.com">Email</a>
        <a href="https://github.com/HaoyiZhu">GitHub</a>
        <a href="https://scholar.google.com/citations?user=pD1NOyUAAAAJ&hl">Scholar</a>
        <a href="https://twitter.com/HaoyiZhu">Twitter</a>
      </span>
    </div>
  </div>
</footer>
